# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.1

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key:
            v1-dependencies-{{ .Revision }}


  deploy_or_update:        
    docker:
      - image: circleci/python:3.7.1

    working_directory: ~/repo

    steps:

      - restore_cache:
          keys:
            - v1-dependencies-{{ .Revision }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
              
      - run:
          name: deploy
          command: |
            zappa update production || zappa deploy production


workflows:
  version: 2
  default:
    jobs:

      - build:
        context: hg

      - deploy_approval:
        type: approval
        requires:
          - build
        filters:
          branches:
            only:
              master

      - deploy_or_update
        context: hg
        requires:
          - deploy_approval
